<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GraphicTestProject.Classes.Controller.Settings_Keyboard" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GraphicTestProject.Classes.Controller.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <GraphicTestProject.Classes.Controller.Settings_Keyboard>
            <setting name="moveDown" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="moveUp" serializeAs="String">
                <value>W</value>
            </setting>
            <setting name="moveLeft" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="moveRight" serializeAs="String">
                <value>D</value>
            </setting>
        </GraphicTestProject.Classes.Controller.Settings_Keyboard>
    </userSettings>
    <applicationSettings>
        <GraphicTestProject.Classes.Controller.Settings1>
            <setting name="changetoRandomdiractionforRandomobject" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="changetoRandomdiractionforRandomobjectTimer" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="FPSVisible" serializeAs="String">
                <value>True</value>
            </setting>
        </GraphicTestProject.Classes.Controller.Settings1>
    </applicationSettings>
</configuration>